<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="ga4pro_product_view" instance="Magento\GA4Pro\Observer\ProductView" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="ga4pro_add_to_cart" instance="Magento\GA4Pro\Observer\AddToCart" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="ga4pro_order_success" instance="Magento\GA4Pro\Observer\OrderSuccess" />
    </event>
    <event name="controller_action_predispatch_checkout">
        <observer name="ga4pro_checkout" instance="Magento\GA4Pro\Observer\Checkout" />
    </event>
    
    <!-- Enhanced User Engagement Tracking -->
    <event name="wishlist_add_product">
        <observer name="ga4pro_wishlist_add" instance="Magento\GA4Pro\Observer\UserEngagement" />
    </event>
    <event name="review_save_after">
        <observer name="ga4pro_review_save" instance="Magento\GA4Pro\Observer\UserEngagement" />
    </event>
    <event name="catalog_product_compare_add_product">
        <observer name="ga4pro_product_compare" instance="Magento\GA4Pro\Observer\UserEngagement" />
    </event>
</config>
